name: Run C++ Program

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential cmake

      - name: Create build directory
        run: mkdir -p build

      - name: Build project
        run: |
          cd build
          cmake ..
          cmake --build .
      - name: List build folder
        run: ls -l build
      - name: Run program with input
        run: ./build/Debug/oop-template < tastatura.txt

